libs

In [1]:
import pandas as pd

data

In [2]:
# import
DATASET_FILE_NAME = "merged_dataset.csv"
DATASET_FILE_PATH = f"../datasets/merged/{DATASET_FILE_NAME}"
DATA_FRAME_DATASET = pd.read_csv(DATASET_FILE_PATH)
DATA_FRAME_DATASET_LENGTH = len(DATA_FRAME_DATASET)
print(f"fresh dataset: {DATA_FRAME_DATASET_LENGTH} tweets")
display(DATA_FRAME_DATASET.tail(1))

# unused columns removal
DATA_FRAME_DATASET.drop(columns=["Unnamed: 0", "no", "urls", "retweet_count", "like_count"], inplace=True)
DATA_FRAME_DATASET_LENGTH = len(DATA_FRAME_DATASET)
print(f"dataset after unused columns removed")
display(DATA_FRAME_DATASET.tail(1))

# duplicate row removal
DATA_FRAME_DATASET.drop_duplicates(subset=["full_text"], inplace=True)

# reset index
DATA_FRAME_DATASET = DATA_FRAME_DATASET.reset_index(drop=True)
DATA_FRAME_DATASET_LENGTH = len(DATA_FRAME_DATASET)
print(f"dataset after duplicate removal: {DATA_FRAME_DATASET_LENGTH} tweets")
display(DATA_FRAME_DATASET.tail(1))

fresh dataset: 5341 tweets

,Unnamed: 0,no,urls,user_id,username,user_display_name,tweet_id,full_text,created_at,retweet_count,like_count
5340,5340,223,[],1497098972443602944,RismaII4,Risma II ðŸ‡®ðŸ‡©ðŸ‡®ðŸ‡©ðŸ‡®ðŸ‡©,1839477624550412418,Sebuah langkah besar menuju masa depan yang le...,Fri Sep 27 01:30:16 +0000 2024,0,1

dataset after unused columns removed

,user_id,username,user_display_name,tweet_id,full_text,created_at
5340,1497098972443602944,RismaII4,Risma II ðŸ‡®ðŸ‡©ðŸ‡®ðŸ‡©ðŸ‡®ðŸ‡©,1839477624550412418,Sebuah langkah besar menuju masa depan yang le...,Fri Sep 27 01:30:16 +0000 2024

dataset after duplicate removal: 4913 tweets

,user_id,username,user_display_name,tweet_id,full_text,created_at
4912,1497098972443602944,RismaII4,Risma II ðŸ‡®ðŸ‡©ðŸ‡®ðŸ‡©ðŸ‡®ðŸ‡©,1839477624550412418,Sebuah langkah besar menuju masa depan yang le...,Fri Sep 27 01:30:16 +0000 2024

get 100 random data

In [3]:
random_sample = DATA_FRAME_DATASET.sample(n=100)

random_sample.to_csv("manual_sentiment_100.csv", index=False)